html {
  height: 100%;
}
body {
  height: 100%;
}
body {
  height: 100%;
  background: #e4d8c8 url("../img/bg.jpg") no-repeat scroll center top / 100% 100% ;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul {
  padding: 0;
}
/* header */
header,
#body,
footer {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
header {
  height: 14%;
}
header .container {
  margin: 10px auto 18px auto;
}
h1 {
  display: none;
}
header,
footer {
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 1000;
}
header {
  top: 0;
}
footer {
  bottom: 0;
}
#logo-img {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 45%;
  min-width: 450px;
}
.bar {
  margin: 0;
  padding: 0;
}
.bar img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}
/* #body */
#body {
  position: relative;
  z-index: 10;
  overflow: hidden;
  padding-bottom: 20px;
  height: 100%;
}
/* sequence styles */
#sequence {
  font-family: sans-serif;

  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
}
.video-container {
  width: 100%;
  height: 100%;
  padding: 25px 50px;
}

@media screen and (max-width: 1366px) {
  .video-container {
    /*padding: 78px;*/
  }
}
@media screen and (max-width: 1920px) {
  #sequence {
    width: 1280px;
    height: 768px;
  }
  .video-container {
    padding: 50px;
  }
}
@media screen and (max-width: 1600px) {
  #sequence {
    width: 1140px;
    height: 640px;
  }
  .video-container {
    padding: 25px 40px;
  }
}
@media screen and (max-width: 1366px) {
  #sequence {
    /*height: 100%;*/
    width: 1024px;
    height: 576px;
  }
}
@media only screen and (max-width: 1024px) {
  #sequence {
    width: 720px;
    height: 405px;
  }
}
@media only screen and (max-width: 960px) {
  #sequence {
    width: 960px;
    height: 564px;
    min-width: 100%;
  }
}
#mask {
  position: absolute;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
#mask img {
  width: 100%;
  height: 100%;
}
#video-bg {
  /*max-width: 100%;*/
  width: 100%;
  height: 100%;
  /*position: fixed;*/
  /*margin: 20px;*/
  /*width: 1060px;*/
  margin: 0 auto;
}
/* Enter */
#enter {
  position: absolute;
  bottom: 10%;
  right: 15%;
  width: 14.4%;
  min-width: 180px;
  z-index: 200;
}
#enter img {
  width: 100%;
  min-width: 120px;
  display: block;
  padding-right: 0;
  animation: enter 1s;
  -webkit-filter: grayscale(0.8);
  -moz-filter: grayscale(0.8);
  filter: grayscale(0.8);
  -webkit-transition: transform 0.5s ease-out 0.5s, -webkit-filter 0.8s ease;
  transition: transform 0.5s ease-out 0s, filter 0.5s ease;
}
#enter a:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  /*-webkit-transform: translate(10%, 0px);*/
  /*transform: translate(10%, 0px); */
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
/* footer */
footer {
  background-color: #545142;
  color: #EEE;
  font-family: Helvetica, Arial, "Microsoft YaHei", sans-serif;
  font-size: 12px;
  text-align: center;
  padding: 0;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
footer .container p {
  padding: 0;
  margin: 0;
}
/*@media screen and (min-width: 959px) {}*/
/*@media screen and (min-width: 991px) {
  #sequence {
    width: 980px;
  }
}
@media screen and (min-width: 1199px) {
  #sequence {
    width: 1160px;
  }
}*/