@import "frontpage.less";

@main-container-bg: @whg-base;
// Insert your styling here.
.main-container {
	padding-bottom: 20px;
	// background-color: @main-container-bg;
	// .box-shadow(0px 0px 30px lighten(@whg-dark, 30%));
}
@media screen and (min-width: @screen-sm-min) {
	// make equal height content columns
	.col-equal-height {
		position: relative;
		
		#content,
		#sidebar-left,
		#sidebar-right {
			position: static;
			height: 100%;

			&:before {
				content: ' ';
				position: absolute;
				top: 0;bottom: 0;
				width: inherit;
				z-index: -1;

				background-color: #fff;
				border: 1px solid @whg-dark;
				border-width: 0 1px 1px;
			}
		}
		#sidebar-left:before {
			margin-left: -@grid-gutter-width/2;
			// border-right: 6px solid @whg-base;
			width: 24%;
		}
		#sidebar-right:before {
			margin-left: -@grid-gutter-width/2;
			// border-left: 6px solid @whg-base;
		}
		#content:before {
			margin-left: -@grid-gutter-width/2;
		}
	}

	.page-search {
		#content:before,
		#sidebar-right:before {
			border: none;
		}
		.col-equal-height {
			border: 1px solid @whg-dark;
			width: 0 1px 1px;
		}
	}

	.page-resource {
		#content:before {
			width: 74%;
		}
	}
}

.breadcrumb {

	@media screen and (min-width: @screen-sm-min) {
		margin: 0 15px 10px;
		padding: 15px 5px;
		border-bottom: 1px dotted #ddd;
	}
}

#sidebar-right {
	padding-top: 20px;
}

.whg-side-menu {

	// padding: 10px 10px 10px 0;
	padding: 10px 20px 10px 10px;
	margin-bottom: 15px;
	// background-color: #fff;

	.active-link() {
		background: transparent url(../images/side_menu_head.png) 0 50% no-repeat;
		// border-width: 1px 1px 1px 5px;
		background-size: contain;
		border-color: @whg-dark;
		color: @whg-dark;
		// font-weight: bold;
		margin-top: -1px;
		border-left: 0;
		// padding-left: 25px;
	}

	li {

		a{
			border: 0px solid transparent;
			border-width: 1px 1px 1px 10px;
			border-bottom-color: @whg-dark;
			padding-left: 5px;
			padding: 7px 15px 6px 10px;

			color: @gray-light;

			outline: none;

			&:hover, &:focus {
				// .active-border();
				background-color: transparent;
				color: lighten(@whg-dark, 25%);
				// font-weight: bold;
			}

		}
		&.active > a {
			.active-link();
			padding-left: 20px;
			// color: @whg-dark;
			// font-weight: bold;
		}
	}

	>li.last > a { 
		// border-bottom-color: transparent; 
		border-bottom-width: 0;
	}
	>li.last.open > a,
	>li.last.active > a { 
		// border-bottom-color: inherit; 
		border-bottom-width: 1px;
	}
	
	.caret {
		position: absolute;
		right: 20px; top: 50%;
	}

	.open {

		>a, >a:hover, >a:focus {
			border-color: transparent transparent #999 transparent;
			background-color: transparent;
		}

		.caret {
			right: 22px; top: 40%;

			border-style: solid;
			border-width: 5px;
			border-color: transparent #777 transparent transparent;
		}
		
	}

	.dropdown-menu {
		padding: 0;
		margin: 0;
		position: static;
		float: none;
		border: none;
		box-shadow: none;
		background-color: transparent;

		> li {
			a {
				// padding: 10px 15px 10px 25px;
				padding-left: 25px;

				&:before {
					content: ' > ';
					position: absolute;
					left: 18px;
				}
			}
		}

		.active {
			a {
				// background-color: transparent;
				// color: @whg-dark;
				// font-weight: bold;
				.active-link();
				padding-left: 35px;
			}
		}
	}

}

.region-content {
	// padding-top: 20px;
	// padding-bottom: 20px;
	padding: 20px 10px 50px;
	// margin-bottom: 1px;
	// background-color: #fff;
}

.whg-articles {
	line-height: 1.6;

	h3:first-child {
		margin-top: 0;
		margin-bottom: @line-height-computed;
	}
	
	p {
		text-indent: 2em;
	}
}
.whg-audios,
.whg-videos {

	margin: 20px 0 0 0;

	> .heading {
		// font-size: 12px;
		.h4();
		padding-bottom: 5px;
		border-bottom: 1px dotted @gray-light;
		
	}
	> .panel-pane {
		.make-row();
		margin-top: 20px;

		> .pane-title {
			// font-size: 12px;
			.h4();
			padding-bottom: 5px;
			margin-left: 10px;
			margin-right: 10px;
			border-bottom: 1px dotted @gray-light;
		}
	}

	.media-item {
		margin-right: 10px;
		// width: 200px;
		min-width: 150px;
		float: left;

		// @media screen and (min-width: @screen-lg-min) {
		// 	width: 185px;
		// }

		a {
			display: block;

			&.title {
				.h5();
			}
		}
	}

	.slick-container {
		width: 100%;
	}

}

.media-item {

	max-width: 100%;
	background: #e6e6e6;
	padding: 2px;

	.file-icon {
		display: block;
		padding: 20px 0;
		background-color: @whg-base;
		font-size: 30px;
		color: @whg-dark;
	}
	.thumb-img {
		display: block;
		background: #333;
	}
}

.view-related-picture {

	.cover {
		padding: 5px;
		background: #ddd;

		a {
			// display: block;
		}
	}
}
// .slick-slider { margin-bottom: 0; }
.slick-prev, .slick-next {

	&:before {
		display: inline-block;
		font-family: 'Glyphicons Halflings';
		color: #333;
		// font-size: 2em;
	}
}
.slick-prev:before { content: '\e079'; }
.slick-next:before { content: '\e080'; }

.slick-container {
	margin: auto;
	width: 90%;

	img {
		margin: auto;
	}

	.picture {
		margin: 10px 0;
	}

	img.lazy-processed  {
		.img-responsive();
	}
}

#player {
	@btn-size: 40px;
	.slick-prev, .slick-next {
		.square(@btn-size);
		&:before {
			font-size: @btn-size;
		}
	}
	.slick-prev { left: -@btn-size - 5px; }
	.slick-next { right: -@btn-size - 5px; }

	.picture-title {
		padding-bottom: 20px;
		margin-bottom: 40px;
		border-bottom: 1px dotted #999;
	}
	.content {
		width: 90%;
		margin: 0 auto;
	}

	.node-picture:not(:first-child) {
		display: none;
	}
	.slick-track .node-picture:not(:first-child) {
		display: block;
	}

	.picture {
		background: #fff url(../images/loading.gif) 50% no-repeat;
	}
}
.slider-nav {
	width: 90%;
	margin: 0 auto;
}

.thumbnails {

	img {
		background: #fff url(../images/loading.gif) 50% no-repeat;
	}

	.media-item {
		margin-right: 5px;
	}

	&.audios {
		.slick-track {
			margin: 20px;
		}
		.media-item {
			margin: 0 10px 0 15px;
			// margin-right: 10px;
			padding-left: 30px;
			font-size: 16px;
			background: transparent url(../images/audio.png) left center no-repeat;
			// width: 160px;
		}

		a:link, a:visited {
			color: #000;
		}
	}

	&.slick-vertical {
		
		padding: 30px 0px;
		margin-top: 36px;
		margin-bottom: 0;
		width: 100%;

		.media-item {
			margin: 0 0 5px 0;
			width: 100%;
			background: none;
		}
		img {
			width: 100%;
		}

		.slick-list {
			padding: 0 15px;
			border: 1px dotted #999;
			border-width: 0 1px;
		}

		.slick-prev, 
		.slick-next {
			top: 10px;
			left: 0;
			width: 100%;
			text-align: center;
			
			&:before {
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
			}
		}

		.slick-next {
			top: auto;
			bottom: 0px;
		}
	}
	
	.slick-slide {

		cursor: pointer;

		// img {					
			.opacity(0.5);
		// }

		&:hover,
		&.slick-active {
			// img {
				.opacity(1);
			// }
		}
	}

	.title {
		font-size: 10px;
	}
}

.view-display-id-player .slick-container {
	width: 100%;
}


.person-list {
    // margin: 0;
    // padding: 0;

    li {
    	// display: inline-block;
    	// width: 50%;
	    // padding: 0px 20px;
	    margin-bottom: 60px;
	    // min-height: 240px;
	    // min-height: 140px;
	    // list-style: none;
	    // float: left;
    }

    .avatar {
    	padding-left: 0;
    	padding-right: 0;

    	.name {
			width: 100%;
    		display: block;
			text-align: center;
			background: #333;
			background-color: rgba(0,0,0,.6);
			color: #fff;
			position: absolute;
			bottom: 0;
    	}
    }

    .biography {
    	padding: 0 0 0 15px;

    	h3 {
    		display: none;
    	}
    	h4 { 
    		margin-top: 0;
    		margin-bottom: 15px;
    	}

    	.content {
    		width: 100%;
    		height: 120px;
    		// max-height: 160px;
    		// .text-overflow();
    		overflow: hidden;
    		text-overflow: ellipsis;
    		text-align: justify;
    	}
    }

    .click2view {
    	margin-top: 15px;
    	// float: right;

		a {
    		display: inline-block;
    		background-color: darken(@whg-base, 15%); //c5b896
    		padding: 1px 6px;
			color: #fff;
			text-decoration: none;

			&:hover {
				background-color: @whg-dark;
			}
		}
    }
}
.view-related-person .person-list {

	.content {
		height: 100px;
	}

	.click2view {
		margin-top: 16px;
	}
	
}

.simple-list li {
	margin-bottom: 20px;
}

.node-person {
	.field-photo img {
		.img-responsive();
	}
}

.node-title {
	// text-align: center;
}

h3.field-label {
	padding-left: 8px;
	font-size: 18px;
	border-left: 3px solid @whg-dark;
}

.node-audio {
	.show-block{
	    margin: 20px auto;
	    padding: 10px 15px;
	    background-color: #fff;
	    background-position: center center;
	    background-repeat: no-repeat;
	    background-size: 100% 100%;
	    border-radius: 4px;
	    //box-shadow: inset 0 0 2px 2px #DDD;
	    position: relative;

	    img {
	    	width: 100%;
	    	height: 200px;
	    }
	}

	.introduction-block{
	    margin: 10px 0 20px 0;
	    padding: 20px 30px;
	    height: 250px;

	    background-color: #eee;
	    background-color: rgba(255, 255, 255, 0.6);
	    box-shadow: 0 0 2px #fff;
	    border-radius: 4px;

	    p {
	    	text-indent: 2em;
	    }
	}

    audio {
    	width: 100%;
    }

}
audio::-webkit-media-controls-enclosure {
    max-width: 100%; /*or inherit*/
}

.inline-fields {
	.field-label {
		float: left;
		margin-right: 10px;
		line-height: 26px;
		font-weight: bold;
	}
	.field-label + .inline {
		line-height: 26px;
	}
}

.pane-related-article,
.node-article {
	p {
		text-indent: 2em;
		text-align: justify;
		text-justify: inter-ideograph;
		word-wrap: break-word;
	}
}
.node-video {
	.title {
		text-align: center;
		padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
	}
	// span.field-label {
	// 	display: block;
	// 	margin-bottom: 5px;
	// 	font-weight: bold;
	// }
	.introduction-block {
		margin-top: 20px;
	}
}

.node-picture {
	.field-image {
		margin-bottom: 20px;

		img {
			.img-responsive();
			margin: 0 auto;
		}		
	}

}

#getflash {
	width: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -10px;
	margin-left: -100px;
	text-align: center;
}

@import 'page-search.less';