// Insert your styling here.
.footer {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
}
.region-footer {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-align: center;
	background-color: @whg-dark;
}