.intro-block {

	img {
		width: 100%;
		max-width: 100%;
		height: auto;
		display: block;
	}

	.pane-content {
		// height: 560px;
		background-color: #fff;
		border: 0px solid lighten(@whg-dark, 10%);
		border-width: 0 0 3px 0;
		position: relative;
		overflow: hidden;
	}

	.field-image {
		background: #fff url(../images/loading.gif) 50% no-repeat;
	}

	.field-body {
		padding: 10px 18px;
		color: #666;
		
		p {
			font-size: 12px;
			line-height: 20px;
			text-indent: 2em;
			margin-bottom: 5px;
			text-align: justify;
		}
	}

	// desktop only
	@media screen and (min-width: @screen-md-min) {
		.pane-content {
			height: 555px;

			.field-image {
				width: 100%;
				height: 280px;
				overflow: hidden;
				.transition(height 0.2s ease-out);
			}

			&:hover {
				// z-index: 100;
				box-shadow: 0 0 4px #aaa;

				.field-image {
					height: 0;
					.transition(height 0.5s ease-in-out);
				}
			}
		}

		&.intro-block-2,
		&.intro-block-4 {
			> div {
				border-width: 3px 0 0 0;
			}
			.field-image {
				position: absolute;
				bottom: 0;
				border-top: 5px solid #fff;
			}
		}
	}

	// smaller than 991px
	@media screen and (max-width: @screen-sm-max) {
		.field-image {
			float: left;
			width: 180px;
			margin: 10px 10px 10px 20px;
		}
	}
}

@zhuanti-block-height: 255px;
#zhuanti-block {
	
	// padding: 5px 0;
	padding-bottom: 5px;
	margin-bottom: 10px;

	border-bottom: 3px solid @whg-dark;
	// border-width: 3px 0;

	> .block {
		// margin-left: @grid-gutter-width/2;
		// margin-right: @grid-gutter-width/2;
		background-color: #fbfbfb;
		border-bottom: 6px solid @whg-dark;
		// border-width: 6px 0;
	}
}

.zhuanti-list {
	min-height: @zhuanti-block-height;
	margin-bottom: 0;

	@media screen and (min-width: @screen-sm-min) {
		border-left: 1px solid @whg-dark;
	}

	li {
		height: 25%;
		line-height: @zhuanti-block-height/4;

		a {
			display: block;
			text-align: center;
			color: #000;
			font-size: 18px;

			&:hover {
				color: @whg-dark;
			}
		}

		&+li {
			border-top: 1px solid @whg-dark;
		}
	}
}
.zhuanti-intro {
	max-height: @zhuanti-block-height;
	padding: 30px 15px 30px 0;
	text-align: center;

	h4 {
		margin-top: 0;
		margin-left: 15px;
		line-height: 1 !important;
	}

	p {
		// line-height: 2;
		// text-decoration: overline;
		// letter-spacing: 2px;
		// text-align: justify;
		line-height: 1.2;
		margin: 0 5px;
		padding-right: 5px;
		border-right: 1px solid #999;
	}
}
