#navbar {
	background: #D7CBB1 url(../images/header_bg.jpg) center 0 no-repeat;
}
.navbar {
	border: none;
	.logo {
		img {
			.img-responsive();

			@media (min-width: @screen-sm-min) {
				max-width: 85%;
			}
		}
	}

	&.menu-closed {
		margin-bottom: 0;
	}
}
.navbar-header {
	// background-color: @whg-base;
	float: none;
}

.navbar-collapse {
	.navigation {
		margin-left: -(@grid-gutter-width/2);
		margin-right: -(@grid-gutter-width/2);
		background-color: rgba(255,255,255,.2);
		// .bg-variant(@whg-dark);
	}

	.menu {
		.home > a{ background-position: 10px 0 }
		.whg-menu-1 > a { background-position: 10px -45px; }
		.whg-menu-2 > a { background-position: 10px -135px; }
		.whg-menu-3 > a { background-position: 10px -90px; }
		.whg-menu-4 > a { background-position: 10px -180px; }

		> li {

			border: 1px solid transparent;
			// &:hover, &:focus, &.expanded {
			&.expanded {
				background-color: @whg-menu-active-bg;
				border: 1px solid darken(@whg-menu-expanded-bg,10%);
				border-bottom: 0;
			}

			&:hover {
				// > a { color: @whg-dark; }
			}

			
			>a {
				// border-right: 1px solid #ccc;
				padding-left: 60px;
				padding-right: 15px;
				margin-bottom: -1px;
				color: @whg-dark;
				// color: #8A3634;
				font-weight: bold;
				border-bottom: 1px solid transparent;

				background: transparent url(../images/menu-icon.png) no-repeat;

				&:hover { color: lighten(@whg-dark, 15%); }

				@media (min-width: @screen-sm-min) {
					// padding-top: 8px;
					// padding-bottom: 8px;
				}
			}

			&.has-children {
				position: static;
				
				> div {
					display: none;
					width: 100%;

					background-color: @whg-menu-expanded-bg;
					border: 1px solid darken(@whg-menu-expanded-bg,10%);
					border-width: 1px 0;

					position: absolute;
					left: 0;
					z-index: 10;
				}
				
				&.expanded{
					> div {
						z-index: 1;
						display: block;
						visibility: visible;
						// border-top: 1px solid @whg-dark;
					}

					>a {
						// margin-bottom: -1px;
						z-index: 20;
						border-bottom-color: @whg-menu-expanded-bg;
					}
				}

				li {
					padding: 0 15px;

					a {
						padding: 12px 0 7px;
						border-bottom: 5px solid transparent;

						&.active {
							color: darken(@whg-dark, 20%);
							font-weight: bold;
							border-bottom-color: @whg-dark;
						}
					}
				}
				
			}
		}
	}
}

#search-block-form {
	width: 300px;
	
	.input-group {
		// border: 1px solid @whg-base;
		button {
			// color: @whg-dark;
			background: darken(@whg-base, 5%);
			// .hide-text();
			color: transparent;
			text-indent: -999em;
			// padding: 0 10px;
			width: 40px;
			margin-left: 0;
			border-left: none;

			&:before {
				content: ' ';
				width: 100%;
				padding: 0 10px;
				height: 100%;
				background: transparent url(../images/search.png) 50% no-repeat;
				position: absolute;
				right: 0; top: 0;
			}
		}
	}

	.form-text {
		// height: 30px;
		.placeholder(@whg-base);
		border-right: 0;
	}

	.form-text, button {
		// border: none;
		border-color: darken(@whg-base, 15%);
		// border-radius: 0;
	}
}

#page-header {
	padding-bottom: 3px;
	margin-top: 1px;
	border-bottom: 6px solid @whg-dark;

	.banner {
		padding-bottom: 8px;
		border-bottom: 3px solid @whg-dark;
	}
}

.banner-image,
.banner-slider-img {
	width: 100%;
}

.region-header .nivoSlider {
	margin-bottom: 0;
	.box-shadow(none);
}