// Media query variables.
@tablet:  ~"screen and (min-width: @{screen-sm-min})";
@normal:  ~"screen and (min-width: @{screen-md-min})";
@wide:    ~"screen and (min-width: @{screen-lg-min})";

@tablet-below:  ~"screen and (max-width: @{screen-xs-max})";
@normal:  ~"screen and (min-width: @{screen-md-min})";
@wide:    ~"screen and (min-width: @{screen-lg-min})";



/**
 * Left slide menu
 */
@media @tablet-below {
	#sidebar-left {
		position: fixed;
		left: -65%; top: 0; z-index: 100;
		width: 65%; height: 100%;
		background-color: @whg-base;
	}

	#navbar {
		margin-bottom: 0;
	}

	.navbar-collapse .menu > li.has-children > div {
		position: static;

		&.collapse { display: none; }
		&.collapse.in { display: block; }
	}

	.main-container {
		padding-top: 10px;
		background-color: #fff;
	}

	#content, .region-footer {
		.make-row();
	}


}

.aside-left-toggle {
	display: none;

	@media @tablet-below {
		.sidebar-first & {
			display: block;
		}
	}
}

.aside-left-open {
	left: 65%;

	#sidebar-left {
		left: 0;
	}
}