.page-search, .page-resource {

	.region-sidebar-second {
        padding: 0 10px;

	    .block .block-title{
	        color: @whg-dark;
	        font-size: 18px;
	        // font-weight: bold;
	    }

	}

}

.page-search {
	#sidebar-right {
		padding-bottom: 20px;
	}
	#sidebar-right:before { border-left: none; }

	.region-sidebar-second {
        padding: 30px 25px;
        margin-left: -10px;

        background-image: url("../images/facets_bg.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;		
	}
    .wrap .categories-list{
        padding: 20px 25px;
        margin: 0;
    }
    .block-facetapi {
        border-bottom: 1px solid #D3D3D3;
        padding-bottom: 10px;
    }
    .block-facetapi:last-child{
        border-bottom: none;
    }
    .facetapi-facetapi-links{
        padding: 0;
        margin: 0;
    }
    .facetapi-facetapi-links li{
        float: left;
        font-size: 0.9em;
        color: #BBB;
        
        padding-right: 8px;
        //color: #D3D3D3; //lighter
        // width: 33.3%;
    }
    .category li.categorized{
        font-weight: bold;
        color: #111;
    }

	.breadcrumb {
		display: none;
	}

	.media-item {
		// height: 145px;
		margin-bottom: 20px;

		img {
			margin: auto;
			position: absolute;
			top: 0; bottom: 0; left: 0; right: 0;
		}

		.img-wrapper {
			height: 120px;
			display: block;
			position: relative;
			background-color: #000;
		}

		.title {
			display: block;
			padding: 5px 0;
		}
	}

	.media-item.audio{
		padding-top: 10px;
		// height: auto;
		height: 45px;
		background: none;

		.title {
			// display: block;
			// padding-top: 80px;
			// background: transparent url(../images/audio_lg.png) 50% 0 no-repeat;

			background: transparent url(../images/audio.png) 5px 0 no-repeat;
			padding: 0;
			padding-left: 30px;
			text-align: left;
			white-space: nowrap;
			word-break: break-all;
			line-height: 1.8em;
		}
	}
}

.view-whg-search {
	// .make-row();
	.clearfix();

	.newline() {
		&:after {
			content: '\0020';
			display: table;
			clear: both;
			// margin-top: -20px; 
		}
	}

	.view-filters {
		margin-bottom: 20px;
	}

	.view-content {
		.make-row();
	}

	.node-article {
		position: relative;
		padding-left: 15px;
		margin: 0 10px;
		border-bottom: 1px dashed #ccc;

		&:before {
			content: '';
			.square(6px);
			background-color: #bbb;
			// float: left;
			position: absolute;
			left: 0;
			top: 5px;
			// margin-top: -5px;
		}
	}

	.node-audio {

		border-bottom: 1px dotted #ccc;
		margin-bottom: 20px;
		
		.media-item {
			.make-row();
			padding: 10px 10px 0;
			border-right: 1px dotted #ccc;
			max-width: inherit;
		}
	}

	@media screen and (min-width: @screen-xs-min) {
		.node-audio:last-child,
		.node-audio:nth-child(2n) {
			.media-item { border-right-width: 0; }
			// &:after {
			// 	content: '\0020';
			// 	display: inline-table;
			// 	clear: both;
			// 	margin-top: -20px; }
		}
		// .node-audio:nth-last-child(1),
		// .node-audio:nth-last-child(2) {
		// 	border-bottom: none;
		// }
	}
	@media screen and (min-width: @screen-sm-min) {
		.node-audio:nth-child(2n) .media-item { border-right-width: 1px; }
		.node-audio:nth-child(3n) {
			.media-item { border-right-width: 0; }
		}
		// .node-audio:nth-last-child(3) {
		// 	border-bottom: none;
		// }
	}
	@media screen and (min-width: @screen-md-min) {
		.node-audio:nth-child(2n) .media-item { border-right-width: 1px; }
		.node-audio:nth-child(3n) .media-item { border-right-width: 1px; }
		.node-audio:nth-child(4n){ 
			.media-item {
				border-right-width: 0;
			}
		}
		// .node-audio:nth-last-child(4) {
		// 	border-bottom: none;
		// }

		// .node-picture:nth-child(4n) {
		// 	.newline();
		// }
	}
}

#facetapi-facet-search-apiresources-block-type {
	.facetapi-active {
		display: none;
	}
}

#block-whg-search-whg-search-mlt {
	.block-title {
		// .h3();
		// margin-top: ;
		padding-bottom: 5px;
		border-bottom: 3px solid @whg-base;
	}

	.links {
		list-style: decimal inside;
		padding-left: 0;
		color: @whg-dark;

		li {
			// border-bottom: 1px dotted #ccc;
			padding: 8px 0;
		}

		li + li {
			border-top: 1px dotted #ccc;
		}
	}
}






