html {
	text-rendering:optimizelegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: grayscale;
}

// Bootstrap library.
@import 'bootstrap.less';

// Base-theme overrides.
@import 'overrides.less';

// Theme specific.
@import 'header.less';
@import 'content.less';
@import 'footer.less';

@import 'mobile.less';

.vertical-text {
	-ms-writing-mode: rl-tb;
	-webkit-writing-mode: vertical-rl;
	-moz-writing-mode: vertical-rl;
	-ms-writing-mode: vertical-rl;
	writing-mode: vertical-rl;

	-webkit-text-orientation: upright;
	-moz-text-orientation: upright;
	-ms-text-orientation: upright;
	text-orientation: upright;
}

.vertical-text-float {
	div, p, h4, h5 {
		width: 1.5em;
		float: right;
		// line-height: 1.2;
		word-brak: break-all;
		word-wrap: break-word;
	}
}

.rtl-text {
	// direction: rtl;
}